<body>
  <nav
    class="navbar navbar-light bg-light"
    style="background: linear-gradient(to right, #f0f3f3, #317aca)"
  >
    <a class="navbar-brand" href="#" style="margin-left: 10vh">
      <img src="" height="55" alt="" />
    </a>
  </nav>

  <div class="login-page">
    <mat-card class="mat-elevation-z12" style="opacity: 0.75; height: 80%">
      <mat-card-title
        style="text-align: center"
        *ngIf="!this.showForgotPassword && !this.proceedtoResetpage"
        >SignIn/SignUp</mat-card-title
      >
      <mat-card-title
        style="text-align: center"
        *ngIf="this.showForgotPassword && !this.proceedtoResetpage"
        >Forgot Password ?</mat-card-title
      >
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
        <mat-tab
          label="Sign In"
          *ngIf="!this.showForgotPassword || proceedToSignUpPage"
        >
          <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()" novalidate>
              <mat-form-field class="value-sigin">
                <input
                  matInput
                  placeholder="Email"
                  name="email"
                  formControlName="email"
                />
                <mat-error *ngIf="email?.errors?.['required']"
                  >Email is required</mat-error
                >
                <mat-error *ngIf="email?.errors?.['email']"
                  >email is not valid</mat-error
                >
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              <mat-form-field class="value-sigin">
                <input
                  matInput
                  [type]="hidePassword ? 'password' : 'text'"
                  placeholder="Password"
                  name="password"
                  formControlName="password"
                />
                <mat-icon matSuffix (click)="togglePasswordVisibility()">{{
                  hidePassword ? "visibility_off" : "visibility"
                }}</mat-icon>
                <mat-error *ngIf="password?.errors?.['required']"
                  >Password is required</mat-error
                >
                <mat-error *ngIf="password?.errors?.['minlength']"
                  >Password must be at least 6 characters long</mat-error
                >
              </mat-form-field>
              <div>
                <p-toast></p-toast>
                <button
                  mat-raised-button
                  color="primary"
                  class="login-button"
                  [disabled]="!loginForm.valid"
                >
                  Sign In
                </button>
              </div>
              <button
                mat-raised-button
                color="warn"
                class="forgot-button"
                (click)="forgotpassword()"
              >
                Forgot password
              </button>
            </form>
          </mat-card-content>
        </mat-tab>

        <mat-tab
          label="Forgot Password"
          *ngIf="
            this.showForgotPassword &&
            !this.isenteringotp &&
            !this.proceedtoResetpage
          "
        >
          <mat-card-content>
            <br />
            <form
              [formGroup]="forgotpasswordForm"
              (ngSubmit)="onSubmitForgotPassword()"
              novalidate
            >
              <mat-form-field class="value-sigin">
                <input
                  matInput
                  placeholder="Email"
                  name="email"
                  formControlName="email"
                />
                <mat-error *ngIf="email?.errors?.['required']"
                  >Email is required</mat-error
                >
                <mat-error *ngIf="email?.errors?.['email']"
                  >email is not valid</mat-error
                >
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              <br /><br />
              <button
                mat-raised-button
                color="primary"
                class="login-button"
                [disabled]="!forgotpasswordForm.valid"
              >
                Continue
              </button>
            </form>
          </mat-card-content>
        </mat-tab>

        <mat-tab
          label="OTP VERIFICATION"
          *ngIf="showForgotPassword && isenteringotp && !proceedtoResetpage"
        >
          <mat-card-content>
            <div class="container">
              <div class="inputfield">
                <input
                  [ngStyle]="{ 'border-color': borderColor }"
                  type="number"
                  maxlength="1"
                  class="input"
                  [(ngModel)]="first"
                  name="first"
                  onKeyPress="if(this.value.length==1) return false;"
                />
                <input
                  [ngStyle]="{ 'border-color': borderColor }"
                  type="number"
                  maxlength="1"
                  class="input"
                  [(ngModel)]="second"
                  name="second"
                  onKeyPress="if(this.value.length==1) return false;"
                />
                <input
                  [ngStyle]="{ 'border-color': borderColor }"
                  type="number"
                  maxlength="1"
                  class="input"
                  [(ngModel)]="third"
                  name="third"
                  onKeyPress="if(this.value.length==1) return false;"
                />
                <input
                  [ngStyle]="{ 'border-color': borderColor }"
                  type="number"
                  maxlength="1"
                  class="input"
                  [(ngModel)]="fourth"
                  name="fourth"
                  onKeyPress="if(this.value.length==1) return false;"
                />
              </div>
            </div>
            <div class="ResendOTP">
              <p class="centered-text">Resend Otp in 00: {{ remainingTime }}</p>
              <button
                mat-raised-button
                color="primary"
                class="reset-button"
                [disabled]="remainingTime > 0"
                (click)="resendotp()"
              >
                Resend Otp
              </button>
            </div>
          </mat-card-content>
        </mat-tab>

        <mat-tab
          label="RESET"
          *ngIf="this.proceedtoResetpage && this.showForgotPassword"
        >
          <mat-card-content>
            <form [formGroup]="resetForm" (ngSubmit)="reset()" novalidate>
              <br />
              <br />
              <br />
              <mat-form-field class="value">
                <input
                  matInput
                  [type]="hidePassword ? 'password' : 'text'"
                  placeholder="Password"
                  name="Password"
                  formControlName="password"
                />
                <mat-icon matSuffix (click)="togglePasswordVisibility()">{{
                  hidePassword ? "visibility_off" : "visibility"
                }}</mat-icon>
                <mat-error *ngIf="password?.errors?.['required']"
                  >Password is required</mat-error
                >
                <mat-error *ngIf="password?.errors?.['minlength']"
                  >Password must be at least 8 characters long</mat-error
                >
              </mat-form-field>

              <mat-form-field class="value">
                <input
                  matInput
                  [type]="hidePassword ? 'password' : 'text'"
                  placeholder="Confirm password"
                  name="Confirm password"
                  formControlName="confirmpassword"
                />
                <mat-icon matSuffix (click)="togglePasswordVisibility()">{{
                  hidePassword ? "visibility_off" : "visibility"
                }}</mat-icon>
                <mat-error *ngIf="confirmpassword?.errors?.['required']"
                  >Password is required</mat-error
                >
                <mat-error
                  *ngIf="
                    resetForm.get('password')?.value !=
                    resetForm.get('confirmpassword')?.value
                  "
                  >Password doesnot match</mat-error
                >
              </mat-form-field>

              <div>
                <p-toast></p-toast>
                <button
                  mat-raised-button
                  color="primary"
                  class="login-button"
                  type="submit"
                  [disabled]="!resetForm.valid"
                >
                  Reset
                </button>
              </div>
            </form>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</body>
